@font-face {
    font-family: 'Victor Mono';    
    src: url('./VictorMono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('./VictorMono-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('./VictorMono-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('./VictorMono-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
